/* ! OUR TEAM  ! */

.team-member
	{
		width:100%; float: left;text-align:center;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	}
.team-member:hover
	{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
	}
	
/*- Image Member -*/
.img-member 
	{
		margin:-100px 0 0 0;
		padding:0;
		text-align:center;
	}

.img-member img 
	{
		width:160px;
		height:160px;
	}

/* Text */
.team-member h3 
	{
		text-transform:uppercase;
		background-image: none;
		margin-bottom:10px;
	}

.team-member h5 
	{
		font-weight:300;
		color:#8a8a8a;
		text-transform: uppercase;
	}

/* Socials Member */
.team-member ul 
	{
		margin:0;
		padding:0;
		list-style:none;
	}

.team-member ul li 
	{
		display:inline-block;
	}

.team-member ul li a 
	{
		display:inline-block;
		color:#fff;
		font-size:18px;
		padding: 6px !important;
		width:20px;
		height:20px;
		background:#293b4e;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
	}

/* Hover Member */
.team-member:hover ul li a 
	{
		color:#222;
		background:#dddddd;
	}

.team-member:hover ul li a:hover i 
	{
		color:#ffffff;
	}

.img-member img 
	{
		border:10px solid #f1f1f1;
	}


.team-member:hover ul li a:hover

	{
	background: #369;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
	}	
.prev-next {
    position: absolute;
    height: 15px;
    width: 20px;
    color: #989898;
    background-color: #fff;
    font-size: 10px;
    border: 1px solid #f1f1f1;
    top: 7px;
    padding-top: 5px;
    right: 0;
    text-align: center;
    cursor: pointer;
    display: block;
    z-index: 1000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.prev-next:hover{
    border:1px solid #293b4e;
    background-color: #293b4e;
    color: #fff;
}
#members {
    position: relative;
}
.members {
    margin-top: 10px;
}

#members .prev {
    right: 30px;
}
	
	