/* COMMON STYLE
--------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
body {
	color: #545C66;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	line-height: 1.5;
	background-color:#222;
}
body#bd {
	height: 100%; 
	padding: 0;
	margin-bottom: 1px;
}

div.wrapper {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}

div.wrapper2 {
	margin: 0 auto;
	position: relative;
}

body.contentpane {
	width: auto; /* Printable Page */
	margin: 1em 2em;
	background: #FFFFFF;
	color: #000000;
	font-size: 12pt;
	font-family: serif;
	line-height: 140%;
}
body.font1{
	font-size: 9px;
}
body.font2{
	font-size: 10px;
}
body.font3{
	font-size: 11px;
}
body.font4{
	font-size: 12px;
}
body.font5{
	font-size: 13px;
}
body.font6{
	font-size: 14px;
}
body.font7{
	font-size: 15px;
}
body.font8{
	font-size: 16px;
}
body.font9{
	font-size: 17px;
}
body.font10{
	font-size: 18px;
}
.ol-bodyfix, .ol-bodyfix1, .ol-bodyfix2, .ol-bodyfix3
{
	position: relative;
	z-index:1;
}
/* MODULE
--------------------------------------------------------- */
.mainbody {
	margin: 0 auto 10px auto;
	color:#555;
	background-color:#fafafa;
	padding: 10px;
	border: 1px solid #d7d7d7;
}

.noshadow {
	color: #222;
	background-color: #e4dfc9;
	margin: 0 auto 10px auto;
	padding: 10px;
	border: 1px solid #d7d7d7;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f4f1e2), to(#e4dfc9));
background: -moz-linear-gradient(#f4f1e2, #e4dfc9);
-pie-background: linear-gradient(#f4f1e2, #e4dfc9);
}

.white {
	color: #333;
	background-color: #fff;
	margin: 0 auto 10px auto;
	padding: 5px 10px;
	border: 1px solid #ccc;

	-webkit-box-shadow: 0px 0px 7px #bbb;	
	-moz-box-shadow: 0px 0px 7px #bbb;
	box-shadow: 0px 0px 7px #bbb;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#E8E8E8));
background: -moz-linear-gradient(#FFFFFF, #E8E8E8);
-pie-background: linear-gradient(#FFFFFF, #E8E8E8);
}
.white:hover {
	color: #333;
	background-color: #f1f1f1;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f1f1f1), to(#fff));
background: -moz-linear-gradient(#f1f1f1, #fff);
-pie-background: linear-gradient(#f1f1f1, #fff);
}
.white h3,.noshadow h3
{
 margin: -4px -9px 5px; padding: 2px 2px 2px 27px; background-color: #ebebeb; background-image: url(../images/h3div.gif); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; font-size: 140%;font-weight: bold; line-height: 26px; border-bottom: 1px solid #c5c5c5; text-shadow: 0px 1px 0px #ffffff, 0px 1px 4px #c8c8c8;
}

.droping {
	margin: 0 auto 10px auto;
	padding: 3px;
}

.tempjo {
	color: #333;
	background-color: #f4f4f4;
	margin: 0 auto 5px auto;
	padding: 3px;
	border: 1px solid #ccc;

	-webkit-box-shadow: 0px 0px 7px #bbb;	
	-moz-box-shadow: 0px 0px 7px #bbb;
	box-shadow: 0px 0px 7px #bbb;
}
.tempjo:hover {
	color: #333;
	background-color: #ddd;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ddd), to(#f1f1f1));
background: -moz-linear-gradient(#ddd, #f1f1f1);
-pie-background: linear-gradient(#ddd, #f1f1f1);
}

.imgset {
	color: #333;
	background-color: #f1f1f1;
	margin: 7px;
	padding: 2px;
	border: 1px solid #ccc;
}
.imgset:hover {
	color: #333;
	background-color: #ccc;
}
.mcolor {
	background-color: #990000;
	color: #f1f1f1;
	margin: 0 auto 10px auto;
	padding: 5px 10px;
	border: 1px solid #ddd;

	-webkit-box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	box-shadow: 0px 0px 7px #999;
		
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CC0000), to(#990000));
background: -moz-linear-gradient(#CC0000, #990000);
-pie-background: linear-gradient(#CC0000, #990000);
}

.dark h3, .mcolor h3 {  padding: 0px;font-size: 130%;
	margin: 0px -4px 7px -4px;
	padding: 2px 10px;
	border-bottom: 1px solid #888; 

}

.dark {
	background-color: #333;
	margin: 0 auto 10px auto;
	color: #ddd;
	padding: 5px 10px;
	border: 1px solid #888;

	-webkit-box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	box-shadow: 0px 0px 7px #999;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#444444), to(#121212));
background: -moz-linear-gradient(#444444, #121212);
-pie-background: linear-gradient(#444444, #121212);
}

.dark a { color: #ff6600;}

.mcolor a { color: #ddd; text-decoration: underline;}
.mcolor, .dark, .white, .noshadow, table.lr-padd2, .tempjo,.mainbody, #ol_bottom, #menu-mss, #ol-search div.search, .inputbox { -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
/* Normal link */
a {
	color: #CC0000;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #999999;
	text-decoration: underline;
}

/* Title text */
.contentheading, .componentheading, div.moduletable h3,
h1, h2, h3 { text-shadow: 0px 1px 0px #f1f1f1, 0px 1px 3px #999;
}

/* Heading */
h1 {
	font-size: 230%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 130%;
	font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal;
}

h4 {
	font-size: 100%;
	text-transform: uppercase;
}

p {
	margin: 5px 0 15px;
}

ul {
	margin-top: 5px;
	margin-bottom: 15px;
	list-style: none;
}

ul li { padding-left: 32px; line-height: 160%; background-color: transparent; }

ol {
	margin-top: 5px;
	margin-bottom: 15px;
}

ol li {
	margin-left: 35px;
}

th {
	padding: 4px;
	font-weight: bold;
	text-align: left;
}

fieldset {
	border: none;
}

fieldset a {
	font-weight: bold;
}

hr {
	border-top: 1px solid #CC0000;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}

a img {
	border: none;
}

td, div {
	font-size: 100%;
}


/* FORM
--------------------------------------------------------- */
form {
	margin: 0;
	padding: 0;
}

input, select {
	font: 11px Tahoma, Arial, sans-serif;
}

select, .inputbox {
	padding: 2px;
}

textarea {
	padding-left: 2px;
}

.button { color: #fff; padding: 5px 15px!important; background: #990000; margin: 2px 0px 0px 15px; border-radius: 14px; border: 1px solid #999; text-shadow: 1px 0px 0px #333, 0px 1px 9px #fff;-webkit-transition:color, background-color 1s; -moz-transition:color, background-color 1s; -o-transition:color, background-color 1s; transition:color, background-color 1s;
-webkit-box-shadow: 0px 2px 4px #999;
-moz-box-shadow: 0px 2px 4px #999;
box-shadow: 0px 2px 2px #999;
 }

.button:hover, .button:active, .button:focus { color: #464646; background-color: #e6e6e6; border-color: #999999 #dddddd #dddddd #999999; border-style: solid; border-width: 1px; }

input,
select,
textarea,
.inputbox {
	color: #777; text-indent: 0;  min-height: 16px; padding-top:3px; padding-bottom: 3px; background: #f1f1f1; border: 1px solid #bbb !important; box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.15); -moz-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.15); -webkit-box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.15); -webkit-transition:color, background-color 1s; -moz-transition:color, background-color 1s; -o-transition:color, background-color 1s; transition:color, background-color 1s;  }

.inputbox:hover, .inputbox:focus {
	border: 1px solid #999999;
	background: #FFFFFF;
}
::-moz-selection {
background: #5a748c;
color: #fff
}
::selection { background: #5a748c; color: #fff }

/* JOOMLA STYLE
--------------------------------------------------------- */
table.blog {
}

.article_seperator {
	display: block;
	background: url(../images/seperator.gif) repeat-x center;
	height: 20px;
}

#ol-left .article_seperator, #ol-right .article_seperator {
	display: none;
}

table.contentpane {
	border: none;
	width: 100%;
}

table.contentpaneopen {
	border: none;
}

table.contenttoc {
	margin: 0 0 10px 10px;
	padding: 0;
	width: 35%;
}

table.contenttoc a {
	text-decoration: none;
}

table.contenttoc td {
	padding: 1px 5px 1px 25px;
	background: url(../images/arrow.png) no-repeat 5% 50%;
}

table.contenttoc th {
	padding: 4px;
	text-indent: 5px;
}

table.poll {
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table.pollstableborder {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left;
}

table.pollstableborder img {
	vertical-align: baseline;
}

table.pollstableborder td {
	padding: 2px!important;
}

table.searchintro {
	padding: 10px 0;
	width: 100%;
}

table.searchintro td {
	padding: 5px!important;
}

table.adminform {
	width: 400px!important; /*Control the Frontend Editor area width*/
}

.adminform .inputbox {
}

.blog_more { background-color: #efefef; margin: 10px 0; padding: 10px; border: solid 1px #efefef; }

.blog_more strong {
	margin: 0 0 5px;
	display: block;
	text-transform: uppercase;
}

.blog_more ul {
	margin: 0;
	padding: 0;
}

.blog_more ul li {
	margin: 0;
	padding: 0 0 0 12px;
	background: url(../images/arrow.png) no-repeat 0 8px;
}

td.buttonheading {
	padding: 0 0 0 3px!important;
	text-align: center;
}

.category {
	font-weight: bold;
}

.clr {
	clear: both;
}

.componentheading { color: #CC0000; padding-bottom: 5px; margin-bottom: 10px; font-size: 170%; font-weight: bold; line-height: normal;  text-shadow: 0px 1px 0px #ffffff, 0px 1px 4px #c8c8c8;}
.contentheading { color: #CC0000; font-size: 170%; font-weight: bold; line-height: normal; text-shadow: 0px 1px 0px #f1f1f1, 0px 1px 3px #999; }
.pagetitle { color: #444; padding-bottom: 5px; margin-bottom: 10px; font-size: 170%; font-weight: bold; line-height: normal;  text-shadow: 0px 1px 0px #ffffff, 0px 1px 4px #c8c8c8;}

.contentdescription {
	padding-bottom: 30px;
}

table.blog .contentheading {
	font-size: 170%;
	font-weight: bold;
	line-height: normal;
}

a.contentpagetitle {
	text-decoration: none!important;
}

a.contentpagetitle:hover,
a.contentpagetitle:active,
a.contentpagetitle:focus {
	text-decoration: none!important;
}

a.readon, a.readmore {

	display: block;
	width: 100px;
	height: 20px;
	background: url(../images/readmore.png) 0 0 no-repeat;
	float: right;
	line-height: 20px;
	text-indent: 10px;
	font-size: 90%;
	text-decoration: none;
	text-shadow: 0px 1px 0px #FFFFFF;

}

a.readon:link, a.readon:visited, a.readmore:link, a.readmore:visited { color: #990000; }

a.readon:hover, a.readmore:hover {
	background-position: 0 -25px;
	color: #ffffff;
	text-shadow: 0px 1px 1px #646464;
}

table.contentpaneopen, table.contentpane, table.blog {
	width: 100%;
}

.createdate {
	padding: 2px 0 10px 0;
	color: #999999;
	line-height: 10px;
}

.modifydate {
	color: #999999;
	height: 15px;
}

.moduletable {
	padding: 0;
}

.mosimage {
	padding: 0;
	margin: 8px 15px 0 0!important;
	margin: 8px 5px 0 0;
}

.mosimage img {
	padding: 0;
	margin: 0!important;
}

.mosimage_caption {
	margin-top: 5px;
	padding: 1px 2px;
	color: #999999;
}

.pagenav,
.pagenav_prev,
.pagenav_next,
.pagenavbar {
	padding: 0 2px;
}

a.pagenav,
.pagenav_prev a,
.pagenav_next a,
.pagenavbar a {
	text-decoration: none;
}

a.pagenav:hover, a.pagenav:active, a.pagenav:focus,
.pagenav_prev a:hover, .pagenav_prev a:active, .pagenav_prev a:focus,
.pagenav_next a:hover, .pagenav_next a:active, .pagenav_next a:focus,
.pagenavbar a:hover, .pagenavbar a:active, .pagenavbar a:focus {
	text-decoration: none;
}

.pagenavbar {
	padding-left: 14px;
	background: url(../images/pages.gif) no-repeat center left;
}

.pagenavcounter {
	padding: 8px 14px 0 14px;
	background: url(../images/pages.gif) no-repeat 0 11px;
}

.sectiontabletophead {
	padding: 3px 5px;
	border: solid 1px #c1c1c1;
	background: #999;
	color: #ffffff;
	font-weight: bold;
}

tr.sectiontableentry1 td { background-image: url(../images/seperator.gif); background-repeat: repeat-x; background-attachment: scroll; background-position: 50% bottom; padding: 5px; }

tr.sectiontableentry2 td { background-image: url(../images/seperator.gif); background-repeat: repeat-x; background-attachment: scroll; background-position: 50% bottom; padding: 5px; }

tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td { background-image: url(../images/seperator.gif); background-repeat: repeat-x; background-attachment: scroll; background-position: 50% bottom; }

.small {
	color: #999999;
}

.smalldark {
	color: #999999;
	text-align: left;
}

div.syndicate div {
	text-align: center;
}

.pollstableborder tr.sectiontableentry1 td,
.pollstableborder tr.sectiontableentry2 td {
	background: none;
}

/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ol-base, #ol-basedown, #ol-baseheader, #ol-basetop { width: 100%; margin: 0 auto; }
#ol-bodyout {
	margin: 0px; background-color:#f1f1f1;
}
#ol-coltop {
	background-color: #333;
	color: #ddd;
	border-bottom: 2px solid #cc0000;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#444444), to(#121212));
background: -moz-linear-gradient(#444444, #121212);
-pie-background: linear-gradient(#444444, #121212);
}

#ol-headcol {
	color: #111;
	background-color: #bbb;
	border-bottom: 1px solid #666;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ccc), to(#999));
background: -moz-linear-gradient(#ccc, #999);
-pie-background: linear-gradient(#ccc, #999);
}

#ol-bootomcol {
	background-color: #222;
	color: #ccc;
	border-top: 1px solid #cc0000;
}	
#middlefullw {
	margin-top:15px;
	width:200%;}
	
#middlewrapper {
	float:left;
	left:50%;
	position:relative;
	width:50%;} 	
	
#middle {
	left:-100%;
	overflow:hidden;
	position:relative;} 

#middlebread {
	left:-100%;
	overflow:hidden;
	position:relative;
	margin-top:1px;
	background: transparent;
	margin-bottom:20px;} 
	
#middlewrap {
	width:100%;} 	
	
#leftcolumn {
		padding-top:10px;
		padding-right:13px;
		float:left;
		left:-50%;
		overflow:hidden;
		position:relative;}
		
		
#middlewrap {
		padding-top:20px;
		float:left;}
		
#rightcolumn {
		margin-left:13px;
		float:left;}	
	
/* Main body */	
	
.fixcolumside {
	margin-left:5px;
	margin-top:-5px;}
	
#topfix {height:10px;
	position:relative;} 
/* tophead
--------------------------------------------------------- */
#date-format { color: #ddd; font-size: 120%; position: absolute; top: 24px; right: 0px; z-index: 1; padding: 5px 15px; text-shadow: 1px 1px 1px #000, 0px 1px 4px #c8c8c8; }
.dmy {display: block;padding: 0; text-transform: uppercase;}
span.date {text-transform: uppercase;font-size: 95%;font-weight: bold;}
#pathway { margin-left:5px; }
span.pathway { font-weight: normal; line-height: 120%; text-transform: uppercase; padding: 5px; overflow: hidden; }
span.pathway img {padding-right: 1px;width: 5px;height: 9px;}
span.pathway a {float: none;padding: 0 2px 0 0;}
#ol-header  { margin-bottom: 25px; }
#ol-flag { position: absolute; top: 0px; right: 0px; z-index: 7; border: 0; }
#logo, img#logo { position: absolute; top: 0px; left: 0px; z-index: 9; border: 0; }
#logo-text { position: absolute; top: 10px; left: 30px; z-index: 9; border: 0; }
#ol-header {  padding: 0; position: relative; margin: 0; border: solid 2px #f1f1f1;}
#ol-tophead { clear: both; line-height: normal;  position: relative; height: 84px; }
#ol-newflash { color: #fff; line-height: 16px; background-color: #CC0000; padding: 5px; z-index: 1; margin-bottom: 8px; border: solid 1px; }
#ol-newflash a { color: #fff; text-decoration: underline; }
#ol-pewrap { line-height: normal; background-color: #f6f5ec; text-align: left; position: relative; clear: both; padding: 5px; border: solid 1px #c3c1a8; }
#ol-topnavwrap { position: absolute; top: 0px; right: 0px; z-index: 2; }
#ol-spacenews {text-align: center; position: relative; }
/* Search */
#ol-search {  position: absolute; bottom: 1px; right: 0px; width:200px; margin: 0; padding: 0; }
#ol-search div.search { background: #888 url(../images/icon-search.gif) no-repeat left center; height: 25px; padding-top: 5px; padding-right: 2px; padding-left: 34px; }
#ol-search .inputbox { color: #333; background-color: #fff; width: 90%; padding-left: 5px; border: solid 1px #cdccce; }
#ol-textbig { font-size: 250%; }
/* User Tools */
#stanhi-4 { font-size: 12px; float: right; padding-top: 4px; padding-right: 3px; padding-left: 3px; }
#ol-extools {
	padding: 0;
	float: left;
	display: block;
	font-size: 12px;
}
#ol-extools span {
	float: left;
	margin: 0 2px;
	display: block;
}
#ol-extools img {
	padding: 3px 0 0 0;
}
#ol-extoolswrap {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 11px;
}

*+html #ol-extoolswrap {
	right: 0;
}

#ol-extools {
	margin: 0;
	padding: 0;
}

* html #ol-extools { /*IE 6*/
	float: left;
}

*+html #ol-extools { /*IE 7*/
	padding: 0px;
}

#ol-extools ul {
	margin: 0;
	padding: 0;
	float: left;
}

#ol-extools ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	background: none;
	display: inline;
}

#ol-extools img {
	padding: 0;
	margin: 0 0 0 2px;
}

/* MODULE
--------------------------------------------------------- */
h3.title span.color{
    color: #CC0000;
}

h3.title {
    color: #666;
}
/* FOOTER
--------------------------------------------------------- */
#ol-footer {clear: both; padding: 20px; }

#ol-footer a {color: #bbb; }

#ol-footer small {
	font-size: 100%;
	padding: 8px 10px;
}
#ol-footer ul {
	margin: 0;
	float: right;
	padding-bottom: 5px;
	line-height: normal;
}
#ol-footer li {
	display: inline;
	margin: 0;
	padding: 0;
	background: url(../images/line.gif) no-repeat right center;
}
#ol-footer li a {
	display: inline;
	line-height: normal;
	padding: 0 10px;
}
li.ol-firstitem {
	background: none !important;
}

/* Poll Module */

table.poll  {
	padding: 0;
	width: 100%;
	border-collapse: collapse; }

table.pollstableborder  {
	padding: 0;
	width: 100%;
	border: none;
	text-align: left; }

table.pollstableborder img  {
	vertical-align: baseline; }
	
.ol_radiobutton {	
	padding-left:23px;
	cursor:pointer;
	line-height:25px;
	padding-left:27px;
	padding-top:2px;
	padding-bottom:2px;
	background: url(../images/radiobutton.png) no-repeat;}

.ol_radiobutton_active {
	padding-left:23px;
	cursor:pointer;
	line-height:25px;
	padding-left:27px;
	padding-top:2px;
	padding-bottom:2px;
	background:transparent url(../images/radiobutton.png) no-repeat scroll 0px -36px;}

	
	.ol_radiobuttonnv {
		display:none;}
	
/* MISCELLANOUS
----------------------------------------------------------- */
div.back_button a,
div.back_button a:hover,
div.back_button a:active {
	margin: 10px 0;
	display: block;
	background: none!important;
	text-decoration: none!important;
}

/* Login Module ---*/
#form-login-username .inputbox,
#form-login-password .inputbox {
	background-position: 5px center;
	background-repeat: no-repeat;
	padding: 3px 10px;
}

#form-login-username .inputbox, #form-login-password .inputbox { width: 85%; }

#form-login ul { margin: 0 !important; padding: 0; }

#form-login p { margin: 0 0 5px; }

#form-login .button { margin: 4px 0; }

/* SITE TITLE, NEWS ITEM TITLE, MORE ARTICLES */

.pagetitle, div.title h1, div.title h2, .ol-morearticles h3 { 
	background: url(../images/titles.jpg) no-repeat left bottom;
	font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; font-style: italic;
	margin: 0 auto 10px auto;
	padding: 5px 10px;
}

div.title h1 span, div.title h2 span { color:#CC0000; }

/* NEWS ITEM TITLE WITH LINK*/
div.title h1 a:link, div.title h1 a:visited, div.title h2 a:link, div.title h2 a:visited { color:#222; }

div.title h1 a:hover, div.title h1 a:focus, div.title h2 a:hover, div.title h2 a:focus, div.title h2 a span, div.title h2 a:visited span { color:#CC0000;  text-decoration: none;}

div.title h2 a:hover span, div.title h2 a:focus span { color:#222; }

.ol-morearticles h3 { border:none; }

/* MAIN NEWS ITEMS HOLDERS FOR FRONTPAGE, CATEGORY AND SECTION. CHILD OF div.ol-newsitems*/
div.ol-newsitems .ol-blog_f, div.ol-newsitems .ol-blog_c, div.ol-newsitems .ol-blog_s { padding:0 0px; }

/* FRONTPAGE NEWS ITEM HOLDER */
.news_item_f { margin:0 0px 0 0; position:relative; z-index:10; }

/* CATEGORY NEWS ITEM HOLDER */
.news_item_c { margin:0 0px; position:relative; z-index:10; }

/* SECTION NEWS ITEM HOLDER */
.news_item_s { margin:0 0px; position:relative; z-index:10; }

/* ARTICLE VIEW NEWS ITEM HOLDER */
.news_item_a { margin:0px 0px 0 0px!Important; padding:0px 0px; overflow:hidden; position:relative; z-index:10; }

/* THIS DIV HOLDS THE NEWS ITEMS TITLES. h1 in article view and h2 in frontpage, category and section view*/
div.title { overflow:hidden; display:block; position:relative; z-index:10; }

div.title h1, div.title h2, h1.pagetitle, .componentheading { font-size:150%; }

div.title h1, div.title h2 { text-align:left; padding: 4px 10px; margin:5px 0 4px 0; line-height:1.5em; }

/* THIS DIV HOLDS NEWS ITEM TEXT ONLY */
.newsitem_text { display:block; padding:0px 0px 0px 0px; width:100% }

/* newsitem_tools  CONTAINS , CREATED BY , CREATE DATE , PRINT,EMAIL , PDF BUTTONS */
.newsitem_tools { display: block; width:100%; margin:0 0 0 0 !Important; clear:both; overflow:hidden; padding:3px 0; margin:0 0 10px 0; }

/* newsitem_info  CONTAINS , CREATED BY , CREATE DATE */
.newsitem_info { width: 70%; display: block; float:left; overflow:hidden; }

/* buttonheading  CONTAINS PRINT,EMAIL , PDF BUTTONS */
.buttonheading { width:30%; display:block; overflow:hidden; padding:0; float:right; }

.buttonheading img { border:0; }

.buttonheading .email, .buttonheading .print, .buttonheading .pdf { float:right; margin:0px 2px 0 0; width:16px; }

.createby { padding:0 3px 0 0px; }

.createdate { padding:0 3px 0 0px; }

.article_separator, div.article_separator { width:100%; background: url(../images/article_separator.png) 50% 100% no-repeat; }
/* SECTION NAME HOLDER*/
.newsitem_section { padding:0 3px 0 0px; }

.newsitem_section a { padding:0 3px 0 0px; }

/* CATEGORY NAME HOLDER*/
.newsitem_category { padding:0 3px 0 0px; }

.newsitem_category a { padding:0 3px 0 0px; }

div.current {
	width: 96%;
}

/* conturfix */
.conturfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .conturfix {
	width: 100%;
	display: block;
}

* html .conturfix {
	height: 1%;
}
/* LR PADD */

#ol-baseheader div.moduletable {
	padding: 7px;
	margin: 5px;
	color: #bbb;
	background-image: url('../images/menu-trans.png'); 
}
#fix-hi { position: relative; padding: 0; width: 100%; clear: both; }
#lr-padd,#lr-padd1,#lr-padd2,#lr-padd3 { position: relative; padding: 0; width: 100%; clear: both; }
#lr-padd div.moduletable, #lr-padd2 div.moduletable, #lr-padd1 div.moduletable { margin: 0; padding: 1px; border-right-width: 10px; }
table.lr-padd { width: 100%; padding: 0; }
#lr-padd ul {
	padding: 0;
	margin: 0!important;
}
#lr-padd li {
	padding: 0;
	margin: 0;
	background: none;
	line-height: 170%;
}
#lr-padd li a { padding-left: 17px; background: url(../images/arrow_hover.gif) no-repeat 5px 50%; text-decoration: none; }
#lr-padd li a:hover, #lr-padd li a:active, #lr-padd li a:focus { background-image: url(../images/arrow-on.gif); background-repeat: no-repeat; background-attachment: scroll; background-position: 3px 50%; }
table.lr-padd a:hover { text-decoration: none; }
table.lr-padd td.lr-padd { border:solid 1px #cecece; color:#000; background: #e3e5e8 url(../images/h3modules.gif) repeat-x left top; width: 25%; }
table.lr-padd td.lr-padd:hover { background-color:#fff; border:solid 1px #c5c5c5; background-repeat:no-repeat; background-position:left top; color:#666; }
table.lr-padd h3 { padding: 4px 0; margin: 0 0 5px; text-indent: 10px; }
table.lr-padd1, table.lr-padd3 { width: 100%; padding: 0; }
table.lr-padd1 a { text-decoration: underline; }
#lr-padd1 ul {
	padding: 0;
	margin: 0!important;
}
#lr-padd1 li {
	padding: 0;
	margin: 0;
	background: none;
	line-height: 170%;
}
#lr-padd1 li a { padding-left: 13px; background: url(../images/arrow-off.gif) no-repeat 0 50%; text-decoration: none; }
#lr-padd1 li a:hover, #lr-padd li a:active, #lr-padd li a:focus { background-image: url(../images/arrow-on.gif); background-repeat: no-repeat; background-attachment: scroll; background-position: 0 50%; }
table.lr-padd1 a:hover { text-decoration: underline; }
table.lr-padd1 td.lr-padd1 {  color:#555;width: 20%;  padding: 0 3px 3px; }
table.lr-padd1 td.lr-padd1:hover { color:#555; }
table.lr-padd2 td.lr-padd2 { color:#fffff2; width: 20%; padding: 0 5px 5px; }
table.lr-padd3 td.lr-padd3 { width: 25%; padding: 5px 3px 3px; }
#ol_top {float:left }
#ol_top a { color: #f5f5f8; font-weight: bold; text-decoration: none; }
#ol_top a:hover { color: #fff; text-decoration: underline; }
html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}
#ol_bottom { padding: 8px; border: solid 1px #d4d4d4;
	color:#333; background-color:#fafafa; }
/* @group Menus */
#menu-mss { display: block; height: 44px; line-height: 44px;position: relative; width: 100%; text-shadow: 1px 1px 1px #000, 0px 1px 4px #c8c8c8;
	background-color: #333;
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 3px solid #cc0000;

	-webkit-box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	box-shadow: 0px 0px 7px #999;
	
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#444444), to(#121212));
background: -moz-linear-gradient(#444444, #121212);
-pie-background: linear-gradient(#444444, #121212);  }
ul#horline.menutop, #menu-mss ul.menutop { padding: 0; margin: 0; position: relative; float: left; }
#menu-mss ul {list-style: none;padding: 0;margin: 0;}
#menu-mss li { display: block; float: left; padding: 0; letter-spacing: 0.1em; margin: 0; }
#menu-mss a, #menu-mss .separator { color: #eeece8; font-weight: normal; white-space: nowrap; display: block; float: left; height: 44px; line-height: 44px; overflow: hidden; text-decoration: none; z-index: 5; padding-right: 17px; padding-left: 17px; cursor: pointer; }
#menu-mss li a span, #menu-mss li .separator span {display: block;padding: 0;}
#menu-mss li.active a, #menu-mss li.active .separator {
	color: #eeece8;
	z-index: 100;
	cursor: pointer;
	background: url(../images/arrowmenu.png) no-repeat 50% bottom;
}
#menu-mss li.active li a, #menu-mss li.active.parent li a, #menu-mss li.active li .separator, #menu-mss li.active.parent li .separator {font-weight: normal;font-size: 100%;}
#menu-mss li a:hover, #menu-mss li .separator:hover {color: #eeece8;}
#menu-mss ul ul { background: #CC0000 ; margin: 0; padding: 0; }
#menu-mss ul ul li a, #menu-mss ul li.active.parent ul a, #menu-mss ul li.active.parent ul a span, #menu-mss ul ul li .separator, #menu-mss ul li.active.parent ul .separator, #menu-mss ul li.active.parent ul .separator span {text-transform: none;background: none;}
#menu-mss ul ul li a.daddy, #menu-mss ul ul li a.daddy:hover, #menu-mss ul li.active.parent ul li a.daddy, #menu-mss ul ul li .separator.daddy, #menu-mss ul ul li .separator.daddy:hover, #menu-mss ul li.active.parent ul li .separator.daddy {background: url(../images/mover.gif) 95% 60% no-repeat;}
.menutop .animated-bg {
	padding:0;
	left: 6px;
	background: url(../images/arrowmenu.png) no-repeat 50% bottom;
}
.menutop .submenu-animation-left { background-color: #990000; margin-right: 9px; }
.menutop .submenu-animation-right { background-color: #990000; height: 100%; width: 9px; position: absolute; right: 5px; margin-right: -9px; }
/* Menu Dropdowns */
#menu-mss li li.active, #menu-mss li.active li a, #menu-mss li.active li a:hover, #menu-mss li li a:hover, #menu-mss ul li.active.parent ul a, #menu-mss li.active li .separator, #menu-mss li.active li .separator:hover, #menu-mss li li .separator:hover, #menu-mss ul li.active.parent ul .separator {background: none;border: 0;padding: 0;margin: 0;}
#menu-mss li li a, #menu-mss li li .separator {font-size: 100%;font-weight: normal;background: none;padding: 0;margin: 0;}
#menu-mss li li, #menu-mss li li a span, #menu-mss li li .separator span {background: none;padding: 0;margin: 0;}
#menu-mss li li a span, #menu-mss li li .separator span {padding: 0;}
#menu-mss li.sfHover li a, #menu-mss li:hover li a, #menu-mss ul li.active ul li.active li a, #menu-mss ul li.active.parent ul li a, #menu-mss li.sfHover li .separator, #menu-mss li:hover li .separator, #menu-mss ul li.active.parent ul li .separator, #menu-mss ul li.active.parent ul li .seperator { color: #f1f1f1; text-indent: 15px; }

/* Sub and Side Menus */
ul.menu {
margin: 0 0 10px;
padding: 0;
}
ul.menu li {
list-style: none;
margin: 0;
padding: 0;
}
ul.menu ul {
margin: 4px 0;
}
ul.menu ul li a {
text-indent: 7px;
}
ul.menu ul a {
background: none;
text-indent: 0;
}
ul.menu ul {
margin-left: 5px;
padding: 0;
}
ul.menu ul ul {
padding: 0;
margin-left: 10px;
}
ul.menu li li {
padding: 0;
margin: 0;
}
ul.menu ul a {
text-indent: 0;
}
ul.menu li a { padding: 3px 3px 5px 15px; text-decoration: none; }
ul.menu li.active a, ul.menu li.active li.active a, a#active_menu.mainlevel, a#active_menu.sublevel, ul.menu li.active .separator, ul.menu li.active li.active .separator {font-weight: bold;}
ul.menu li.active li a, ul.menu li.active li.active li a, ul.menu li.active li .separator, ul.menu li.active li.active li .separator {font-weight: normal;}
ul.menu li a:hover { background-color: transparent; text-decoration: none; }
ul.menu li.active li a,
ul.menu li.active li a:hover { background: transparent; }
ul.menu a { outline: none medium; width: 90%; display: block; text-decoration: none; border-bottom: 1px dotted #aca686; }
ul.menu a:hover {  }
ul.menu ul li ul li a, ul.menu ul li ul li .separator {text-indent: 5px;}
ul.menu ul li ul li ul li a, ul.menu ul li ul li ul li .separator {text-indent: 10px;}
/* @end */
/* @group Mainmenu */

#main-based a.mainlevel {
	display: block;
	line-height: 24px;
	text-indent: 18px;
	height: 24px;
	overflow: hidden;
	font-size: 110%;
}

#main-based a.sublevel {
	text-decoration: none;
	line-height: 25px;
	font-size: 110%;
	line-height: 24px;
}

a.mainlevel:hover, a.sublevel:hover {text-decoration: none;}

/* @end */

div.default div.drop-down {  }

div.default div.drop-down dt.toggler { color: #f7f6f4; height: 30px; line-height: 28px; font-size: 110%; font-weight: bold; background-color: #CC0000; background-repeat: repeat-x; background-attachment: scroll; background-position: 0 0; text-indent: 10px; margin-bottom: 1px; cursor: pointer; padding-right: 10px; }

div.default div.drop-down dt:hover.toggler, div.default div.drop-down dt.sfhover { color: #f7f6f4; background-color: #777; }

div.default div.drop-down dd span.article {
	padding: 10px 0px 10px 0px;
}

div.default div.drop-down dd.last span.article {
	background: none;
}

div.black div.drop-down {  }

div.black div.drop-down dt.toggler { color: #fff; height: 30px; line-height: 28px; font-size: 110%; font-weight: bold; background-color: #333; background-repeat: repeat-x; background-attachment: scroll; background-position: 0 0; text-indent: 10px; margin-bottom: 1px; cursor: pointer; }

div.black div.drop-down dt:hover.toggler, div.black div.drop-down dt.sfhover { color: #e6e6e6; background-color: #2c2c2c; }

div.black div.drop-down dd span.article {
	padding: 10px 0px 10px 0px;
}

div.black div.drop-down dd.last span.article {
	background: none;
}
/* Lytebox
--------------------------------------------------------- */
.album {
	border:3px solid #FFFFFF;
}
.album:hover {
	cursor:pointer;
	border:3px solid #CCCCCC;
}
/* General */
div.login_clear {
	clear: both;
}

table.simplerows thead th { background-color: #CC0000; }

div#float_panel {
	width:22px;
	position:absolute;
	z-index:12;
	top:20px;
	right:-26px;
	padding: 5px;
}
#stylearea {
	margin-bottom:12px;
}
h3.title span.dcolor  {
	color: #f1f1f1;
}
.dark h3.title, .mcolor h3.title {
	color: #bbb;
}


.getit { color: #fff; padding: 5px 15px!important; background: #ff6600; margin: 2px 0px 0px 15px; border-radius: 14px; border: 1px solid #ccc; text-shadow: 1px 0px 0px #333, 0px 1px 9px #fff;-webkit-transition:color, background-color 1s; -moz-transition:color, background-color 1s; -o-transition:color, background-color 1s; transition:color, background-color 1s;
-webkit-box-shadow: 0px 2px 4px #999;
-moz-box-shadow: 0px 2px 4px #999;
box-shadow: 0px 2px 2px #999;
 }

.getit:hover, .getit:active, .getit:focus { color: #990000; background: #d7d7d7; border-color: #dddddd #999999 #999999 #dddddd; text-decoration: none;}

.livdemo { color: #444; padding: 4px 15px!important; background: #ede5c3; margin: 2px 4px; border-radius: 14px;text-shadow: 1px 0px 0px #fff, 0px 1px 7px #999;-webkit-transition:color, background-color 1s; -moz-transition:color, background-color 1s; -o-transition:color, background-color 1s; transition:color, background-color 1s;
-webkit-box-shadow: 0px 2px 2px #ccc;
-moz-box-shadow: 0px 2px 2px #ccc;
box-shadow: 0px 2px 2px #ccc;
 border-color: #dddddd #999999 #999999 #dddddd; border-style: solid; border-width: 1px; }

.livdemo:hover, .livdemo:active, .livdemo:focus { color: #666; background: #d7d7d7; border-color: #dddddd #999999 #999999 #dddddd; text-decoration: none;}
.gohead h1, #gohead h1 { color: #990000; font-size: 52px; font-family: 'Wire One', arial, serif; text-shadow: 0px 0px 1px #222, 0px 1px 0px #fff; padding-left: 20px; }
.gohead h2, #gohead h2 { color: #000; font-family: arial, serif; font-size: 15px; font-weight:100; text-shadow: 0px 0px 1px #fff, 2px 1px 8px #999; padding-left: 20px; }
.teinfo, #teinfo { font-size: 38px; font-family: 'Wire One', arial, serif; text-shadow: 1px 2px 3px #222, 2px 1px 8px #999; padding-left: 20px; }
